@charset "UTF-8";

@import "./toastBase.scss";
@import "../../../css/_base.scss";
$prefixCls: "zby-notice";

// Notice
.#{$prefixCls} {
  position: absolute !important;
  box-sizing: border-box !important;
  left: 50% !important;
  top: 90% !important;
  margin: 0 !important;
  width: 100% !important;
  padding: pem(20) pem(30) !important;
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: pem(10) !important;
  text-align: center !important;
  font-size: pem(28) !important;
  line-height: pem(42) !important;
  color: #fff !important;
  z-index: 1110 !important;
  transition: all 0.3s !important;
  transform: translate3D(-50%, -50%, 0) scale(1, 1) !important;

  &.leave {
    transform: translate3D(-50%, -100%, 0);
    opacity: 0;
  }

  // 正常提示
  &.info {
    animation: Flop 0.5s linear;
  }

  // 成功提示
  &.success {
    animation: BombIn 0.3s;
  }

  // 警告提示⚠️
  &.warning {
    animation: slideInFromBottom 0.3s;
  }

  // 错误提示
  &.error {
    animation: shake 0.5s;
  }

  .#{$prefixCls}-icon {
    padding: pem(20);
    @include fsp(80);
    text-align: center;
    color: #fff;
  }

  .#{$prefixCls}-content {
    @include fsp(28);
    text-align: center;
    color: #fff;
  }
}
