@import "../../../css/_base.scss";
body {
  @include fsp(24);
}
.bg {
  width: 100%;
  height: 100vh;
  background-color: #221f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://cdn.deapsea.cn//car/bg11.png");
  background-repeat: repeat;
  overflow-x: hidden;
}

.bg1 {
  position: fixed;
  width: 100%;
  height: pem(970);
  top: pem(150);
  z-index: 0;
}

.company-top {
  width: 100%;
  height: pem(88);
  background-color: #005aae00;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  @include fsp(35);
  color: white;
  margin-left: pem(48);
  margin-top: pem(33);
  span {
    font-size: pem(36);
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }

  img {
    width: pem(60);
    height: pem(5);
    margin-top: pem(15);
    content: url("https://cdn.deapsea.cn//car/top_bg.png");
  }
}

.company-sub-top {
  width: 100%;
  background-color: #005aae00;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include fsp(35);
  color: rgb(10, 10, 10);
  margin-left: pem(33);
  margin-top: pem(12);
  div {
    display: flex;
    align-items: center;
  }
  .selected {
    height: pem(58);
    padding-left: pem(24);
    padding-right: pem(24);
    text-align: center;
    line-height: pem(30);
    font-size: pem(20);
    font-weight: bold;
    border-radius: pem(100);
    background-color: white;
    display: flex;
    align-items: center;
  }
  .unselected {
    height: pem(58);
    padding-left: pem(24);
    padding-right: pem(24);
    text-align: center;
    line-height: pem(30);
    font-size: pem(20);
    font-weight: normal;
    border-radius: pem(100);
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
  }
  img {
    margin-left: pem(10);
    margin-right: pem(10);
    width: pem(10);
    height: pem(12);
    content: url("https://cdn.deapsea.cn//car/sub_next.png");
  }
}

.qr_code {
  margin-top: pem(60);
  width: pem(300);
  height: pem(300);
  content: url("https://cdn.deapsea.cn//car/car_qrcode.jpeg");
  user-select: auto;
  pointer-events: all;
  -webkit-touch-callout: auto;
  -moz-user-select: all;
  -webkit-user-select: auto;
  -moz-user-select: all;
}

.company-form1 {
  width: 100%;
  height: pem(707);
  border-radius: pem(10);
  background-color: rgb(255, 255, 255);
  margin-top: pem(55);
  position: relative;
  .company-form1-content {
    margin: pem(33);
    display: flex;
    flex-flow: column;
    span {
      font-size: pem(26);
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .form1-item-line {
      margin-top: pem(8);
      width: 100%;
      height: pem(10);
      content: url("https://cdn.deapsea.cn//car/title1_bg.png");
    }
    .form1-item {
      width: 100%;
      margin-top: pem(35);
      display: flex;
      justify-items: stretch;
      align-items: center;
      border-bottom: #eeeeee solid 1px;
      .form1-input {
        width: 70%;
        border: rgba(225, 226, 230, 1) solid 0px;
        color: rgba(4, 16, 49, 1);
        @include fsp(30);
        font-size: pem(24);
      }
      .form1-lines-ellipsis {
        width: 70%;
        line-height: pem(36);
        min-height: pem(30);
        border: rgba(225, 226, 230, 1) solid 0px;
        color: rgba(4, 16, 49, 1);
        @include fsp(30);
        font-size: pem(24);
        margin-bottom: pem(10);
      }
      span {
        width: 30%;
        font-size: pem(28);
        font-weight: normal;
      }
      .right {
        width: pem(7);
        height: pem(13);
      }
      .map {
        margin-left: pem(10);
        width: pem(21);
        height: pem(25);
      }
      .address {
        align-self: start;
      }
    }
    .form1-item-line1 {
      margin-top: pem(20);
      width: 100%;
      height: pem(2);
      content: url("https://cdn.deapsea.cn//car/title1_bg.png");
    }
    .form1-item-bottom {
      width: pem(196);
      height: pem(241);
      position: relative;
      left: pem(498);
      content: url("https://cdn.deapsea.cn//car/form1_bottom.png");
      border: rgb(255, 255, 255) solid 5px;
    }
  }
}

.company-form2 {
  width: 100%;
  height: pem(500);
  border-radius: pem(10);
  background-color: rgb(255, 255, 255);
  margin-top: pem(55);
  position: relative;
  .company-form2-content {
    margin: pem(33);
    display: flex;
    flex-flow: column;
    span {
      font-size: pem(26);
      font-weight: bold;
    }
    .form2-item-line {
      margin-top: pem(8);
      width: 100%;
      height: pem(10);
      content: url("https://cdn.deapsea.cn//car/title1_bg.png");
    }
    .form2-item {
      width: 100%;
      margin-top: pem(35);
      display: flex;
      justify-items: stretch;
      align-items: center;
      border-bottom: #eeeeee solid 1px;
      .form2-input {
        width: 60%;
        border: rgba(225, 226, 230, 1) solid 0px;
        color: rgba(4, 16, 49, 1);
        @include fsp(30);
        font-size: pem(24);
      }
      span {
        width: 40%;
        font-size: pem(28);
        font-weight: normal;
      }
      .horizontal {
        width: 60%;
        display: flex;
        justify-content: space-around;
        .radio_item {
          display: flex;
          flex-direction: row;
          font-size: pem(24);
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #000000;
          img {
            width: pem(22);
            height: pem(22);
            margin-right: pem(16);
          }
        }
      }
    }
    .form2-item-bottom {
      width: pem(196);
      height: pem(241);
      position: fixed;
      top: pem(598);
      left: pem(498);
      content: url("https://cdn.deapsea.cn//car/form1_bottom.png");
    }
  }
}

.company-next-button {
  width: pem(326);
  height: pem(101);
  line-height: pem(101);
  background-image: url("https://cdn.deapsea.cn//car/next_bg.png");
  background-size: pem(326) pem(101);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: pem(100);
  z-index: 10;
  position: fixed;
  bottom: pem(50);
}

.wx-app-content {
  width: pem(326);
  height: pem(101);
  margin-top: pem(100);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: pem(20);
}
